@using MediCon.WebUI.Controllers.Home;
@using MediCon.WebUI.Configurations.Helper;
@using MediCon.WebUI.Controllers.Home.ViewModels
@model HomeLoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en"
      class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
      dir="ltr"
      data-theme="theme-default"
      data-template="vertical-menu-template-no-customizer-starter">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/BL Icons/logo.png" type="image/x-icon" />
    <title>@Model.PageTitle</title>

    <link rel="stylesheet" href="~/vuexy/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="~/vuexy/css/core.css" />
    <link rel="stylesheet" href="~/vuexy/css/theme-default.css" />
    <link rel="stylesheet" href="~/vuexy/css/demo.css" />
    <link rel="stylesheet" href="~/vuexy/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="~/vuexy/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/vuexy/libs/form-validation/form-validation.css" />
    <link rel="stylesheet" href="~/vuexy/css/page-auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vuexy/libs/block-ui/block-ui.css" />

    <script src="~/vuexy/js/helpers.js"></script>
    <script src="~/vuexy/js/config.js"></script>
    <script src="~/vuexy/libs/jquery/jquery.js"></script>
</head>
<body>
    <!-- Content -->
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            @* <div class="authentication-inner py-4"> *@
            <div>
                <!-- Login -->
                <div class="card" style="border: 2px solid #FFB200;">
                    <div class="card-body" style="width: 500px;">
                        <!-- Logo -->                    
                        <div class="app-brand justify-content-center mb-4 mt-2">
                            <img src="~/BL Icons/logo.png" class="center" height="100" width="100">
                            <a href="index.html" class="app-brand-link gap-2">
                                @* <span class="app-brand-logo demo">
                                <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
                                fill="#7367F0" />
                                <path opacity="0.06"
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z"
                                fill="#161616" />
                                <path opacity="0.06"
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z"
                                fill="#161616" />
                                <path fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
                                fill="#7367F0" />
                                </svg>
                                </span> *@
                                @* <span class="app-brand-text demo text-body fw-bold ms-1">MediCon</span> *@
                            </a>
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-1 pt-2 text-center">Collection Managemet Portal</h4>
                        <p class="mb-4 text-center">Please sign-in to your account</p>

                        @if (Model.IsError)
                        {
                            <div id="alert" class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
                        }

                        <form id="formAuthentication" class="mb-3" asp-controller="@nameof(HomeController).GetControllerName()" asp-action="@nameof(HomeController.Login)" method="post">
                            <input type="hidden" value="@Model.ReturnURL" name="ReturnURL" />

                            <div class="mb-3">
                                <label for="email" class="form-label">Email or Username <span class="required">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       id="userName"
                                       name="userName"
                                       placeholder="Enter your email or username"
                                       value="@Model.UserLoginRequestModel?.UserName"
                                       autofocus />
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Password <span class="required">*</span></label>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password"
                                           id="password"
                                           class="form-control"
                                           name="password"
                                           placeholder="Enter password"
                                           value="@Model.UserLoginRequestModel?.Password"
                                           aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember-me" name="rememberMe" @(Model.UserLoginRequestModel?.RememberMe == true ? "checked" : string.Empty) value="true" />
                                    <label class="form-check-label" for="remember-me"> Remember Me </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-warning d-grid w-100" style="background-color:#f16522" type="submit">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>

    <script src="~/vuexy/libs/bootstrap/bootstrap.js"></script>
    <script src="~/vuexy/libs/node-waves/node-waves.js"></script>
    <script src="~/vuexy/js/main.js"></script>
    <script src="~/vuexy/libs/block-ui/block-ui.js"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>

    <script src="~/vuexy/libs/form-validation/popular.js"></script>
    <script src="~/vuexy/libs/form-validation/bootstrap5.js"></script>
    <script src="~/vuexy/libs/form-validation/auto-focus.js"></script>
</body>
</html>
